<header class="row text-center">
    <div class="col-md-12">
      <h1>{{ formType }} Item</h1>
      <hr>
    </div>
  </header>
  <main class="row text-center">
    <form
    name="itemForm"
    ng-controller="PackingController"
    ng-submit="formType == 'Add' ? submitAddItem() : submitEditItem()"
    class="col-md-8 col-md-offset-2"
  >
    <div class="form-group">
      <label for="item-name">Name:</label>
      <input
        type="text"
        ng-model="formItemName"
        class="form-control"
        id="item-name"
        placeholder="item name"
        autocomplete="off"
        required
      >
    </div>
    <div class="form-group">
      <label for="item-description">Description:</label>
      <textarea
        ng-model="formItemDescription"
        class="form-control"
        id="item-description"
        placeholder="item description"
        autocomplete="off"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="itemForm.$invalid">{{ formType }}</button>
    <button type="button" class="btn btn-danger" ng-click="changeView('/list')">Cancel</button>
  </form>
</main>